@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-geist-mono);
  
  /*customsss*/
  --color-brand-blue: #6f8cf5;
  --color-brand-sky:#5f9cff;
  --color-bg-blue: #b1c9ff;
  --color-brand-purple: #8b5cf6;
  --color-brand-orange: #ff6b35;
  --color-brand-navy: #0e004c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-brand-navy);
  font-family: var(--font-outfit), sans-serif;
}